* {
    margin: 0;
    padding: 0;
    outline: none;
}

:root {
    --green: #183a37;
    --blue: #04151f;
    --orange: #c44900;
    --purple: #432534;
    --beige: #efd6ac;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#header-wrapper {
    width: 100vh;
    height: 100vh;
    display: inline-block;
}

.header-image {
    background: url(../images/composition.png);
    background-size: cover;
}

header h1 {
    font-size: 72px;
    color: black;
    font-weight: 600;
}